<div class="col-md-6 col-lg-4">
  <div class="card h-100" style="background-color: #222; color: #ccc; border: 1px solid #444;">
    <div class="card-body">
      <h5 class="card-title" style="color: var(--tf-blue1);">{{ include.page.title }}</h5>
      <p class="card-text"><small class="text-muted" style="color: #999;">{{ include.page.date | date_to_string }}</small></p>
      <p class="card-text">{{ include.page.content | markdownify | strip_html | truncatewords: 40 }}</p>
      <p>
        {% for label in include.page.labels %}
        <span style="background-color: var(--tf-blue3); color: #fff;" class="badge rounded-pill">{{ label }}</span>
        {% endfor %}
      </p>
    </div>
    <div class="card-footer" style="background-color: #222; border-top: 1px solid #444;">
      <div class="text-center">
        <a href="{% if page.essayurl %}{{ page.essayurl }}{% else %}{{ site.baseurl}}{{ include.page.url }}{% endif %}" class="btn btn-outline-primary">Read More</a>
      </div>
    </div>
  </div>
</div>
